Adafruit-CharLCD==1.1.1
Adafruit-GPIO==1.0.3
Adafruit-PureIO==0.2.1
cryptography==1.7.1
enum34==1.1.6
gyp==0.1
idna==2.2
ipaddress==1.0.17
keyring==10.1
keyrings.alt==1.3
numpy==1.12.1
pyasn1==0.1.9
pycrypto==2.6.1
pygame==1.9.3
pygobject==3.22.0
pyserial==3.4
pyxdg==0.25
RPi.GPIO==0.6.3
sdnotify==0.3.2
SecretStorage==2.3.1
six==1.10.0
spidev==3.2
