/* HACK(jeff): All margins in this file are calculated for a 1280x720px screen. */

body {
  color: white;
  /* TODO(jeff): Arcade font: https://github.com/wearhere/spacecontrol/issues/62; */
  font-family: serif;
}

h1 {
  font-size: 7em;
}

h2 {
  font-size: 5em;
}

h3 {
  font-size: 4em;
}

h4 {
  font-size: 3em;
}

table {
  font-size: 3em;
  border-spacing: 50px 10px;
  margin: auto;
  left: 0;
  right: 0;
}

td {
  text-align: left;
}

@keyframes horizontalscrollbackground {
  from { background-position: 15vw 10vw; }
  to { background-position: 115vw 10vw; }
}

.game {
  height: 100vh;
  background-image: url('/public/starfield.jpg');
  background-position: 15vw 10vw;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

/*
 * WARNING: This pops at the end of the 10 seconds despite the image being doubled so it would
 * wrap around :( So make sure to stop it before then!
 */
.game.horizontal-scroll-background {
  animation: 10s linear 0s infinite reverse none running horizontalscrollbackground;
}

@keyframes fadeindanger {
  from { opacity: 0; }
  to { opacity: 0.35; }
}

.danger-mask {
  /* Same size as #app */
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: 100;
  background-color: red;
  animation: 0.5s ease 0s infinite alternate none running fadeindanger;
}

.danger-mask[data-state="fatal"] {
  animation-duration: 0.1s;
}

.hud {
  float: right;
  margin: 1em 3em auto auto;
}

.title {
  text-align: center;
  margin-top: 2em;
}

.status {
  position: fixed;
  bottom: 1em;

  /* To center align: https://stackoverflow.com/a/25919090/495611 */
  left: 50%;
  transform: translate(-50%, 0);
}

@keyframes show {
  from { opacity: 0; }
  to { opacity: 1; }
}

.scoreboard[data-end-scroll="player-score"] .status {
  /* HACK(jeff): This corrects for the scoreboard's translation. */
  bottom: 3em;

  opacity: 0;

  animation: 0s var(--scroll-to-player-score-duration) linear forwards show;
}

.scoreboard[data-end-scroll="other-scores"] .status {
  /* HACK(jeff): This corrects for the scoreboard's translation. */
  bottom: calc(-100vh + 1em);

  opacity: 0;

  animation: 0s var(--scroll-to-other-scores-duration) linear forwards show;
}

.scoreboard[data-end-scroll="other-scores-including-player"] .status {
  /* HACK(jeff): This corrects for the scoreboard's translation. */
  bottom: 1em;
}

@keyframes zoomlefttoright {
  /* Almost hidden off the left edge of the screen */
  from { margin-left: -30vw; }
  /* Tuned to convey the right speed over an animation of TIME_BETWEEN_LEVELS_MS */
  to { margin-left: 320vw; }
}

.scoreboard {
  text-align: center;

  /* Important for the vertical scroll animations below */
  position: fixed;
  height: 100%;

  /* Consequence of using fixed positioning */
  left: 0;
  right: 0;

  --scroll-to-player-score-duration: 5s;
  --scroll-to-other-scores-duration: 15s;
}

@keyframes scroll-to-player-score {
  from { transform: translateY(100vh); }
  /* Nice top margin after scrolling. */
  to { transform: translateY(10vh); }
}

.scoreboard[data-end-scroll="player-score"] {
  transform: translateY(100vh);
  animation: var(--scroll-to-player-score-duration) linear forwards scroll-to-player-score;
}

@keyframes scroll-to-other-scores {
  from { transform: translateY(100vh); }
  /* The 5em leaves the scoreboard with a nice top margin after scrolling. */
  to { transform: translateY(-100vh); }
}

.scoreboard[data-end-scroll="other-scores"] {
  transform: translateY(100vh);
  animation: var(--scroll-to-other-scores-duration) linear forwards scroll-to-other-scores;
}

.scoreboard[data-end-scroll="other-scores"] .player-score {
  margin-bottom: 90vh;
}

.scoreboard[data-end-scroll="other-scores-including-player"] {
  /* Roughly sync the position of the scoreboard including the player, with the board without */
  transform: translateY(0vh);
}

@keyframes show {
  from { opacity: 0; }
  to { opacity: 1; }
}

.new-high-score {
  opacity: 0;

  animation: 0s var(--scroll-to-player-score-duration) linear forwards show;
}

.new-high-score h3 {
  /* Neon glow from http://enjoycss.com/gallery/text_effects/39 */
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
}

.new-high-score input {
  color: white;
  text-align: center;
  font-size: 3em;
  background-color: transparent;
  padding-bottom: 5px;
  border-width: 0 0 3px;
}

.new-high-score input:focus {
  outline-width: 0;
}

.new-high-score input::placeholder {
  color: silver;
}

/* I could not get the CSS animation for this working. Nor sure if this is bug in Chrome that
 * `::placeholder` cannot be animated */
.new-high-score input.flash-white::placeholder {
  color: white;
}
